{% include "accounts/base.html" %}
{% block registration %}
<div class="limiter">
	<div class="container-login100">
		<div class="wrap-login100 p-t-90 p-b-30">
			<form method="post" class="login100-form validate-form">
				{% csrf_token %}
				<span class="login100-form-title p-b-40">
					بازیابی رمز عبور
				</span>
			
				<div class="wrap-input100 validate-input m-b-20" data-validate="لطفا رمز عبور جدید را وارد کنید">
					{{ form.password }}
					<span class="focus-input100"></span>
					{% if form.password.errors %}
						<div class="alert alert-danger">
							{% for error in form.password.errors %}
								<li>{{ error }}</li>
							{% endfor %}
						</div>
					{% endif %}
				</div>
			
				<div class="wrap-input100 validate-input m-b-20" data-validate="لطفا تایید رمز عبور را وارد کنید">
					{{ form.confirm_password }}
					<span class="focus-input100"></span>
					{% if form.confirm_password.errors %}
						<div class="alert alert-danger">
							{% for error in form.confirm_password.errors %}
								<li>{{ error }}</li>
							{% endfor %}
						</div>
					{% endif %}
				</div>
			
				<div class="container-login100-form-btn">
					<button type="submit" class="login100-form-btn">
						بازیابی رمز عبور
					</button>
				</div>
			</form>
		</div>
	</div>
</div>
{% endblock registration %}