<!doctype html>
<html class="no-js" lang="fa" dir="rtl">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>MYKD - قالب گیمینگ زیبا و خلاق</title>
    <meta name="description" content="eSports and Gaming NFT Template">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Place favicon.ico in the root directory -->
    <link rel="shortcut icon" type="image/x-icon" href="assets/img/favicon.html">

    <!-- CSS here -->
    <link rel="stylesheet" href="assets/css/plugins.css">
    <link rel="stylesheet" href="assets/css/main.css">

    <!-- Page-Revealer -->
    <script src="assets/js/tg-page-head.js"></script>
</head>

<body>


    <!-- Scroll-top -->
    <button class="scroll__top scroll-to-target" data-target="html">
        <i class="flaticon-right-arrow"></i>
    </button>
    <!-- Scroll-top-end-->

    <!-- header-area -->
    <header>
        <div id="sticky-header" class="tg-header__area transparent-header">
            <div class="container custom-container">
                <div class="row">
                    <div class="col-12">
                        <div class="mobile-nav-toggler"><i class="fas fa-bars"></i></div>
                        <div class="tgmenu__wrap">
                            <nav class="tgmenu__nav">
                                <div class="logo">
                                    <a href="index.html"><img src="assets/img/logo/logo.png" alt="Logo"></a>
                                </div>
                                <div class="tgmenu__navbar-wrap tgmenu__main-menu d-none d-xl-flex">
                                    <ul class="navigation">
                                        <li class=" menu-item-has-children"><a href="#">صفحه اصلی</a>
                                            <ul class="sub-menu">
                                                <li class=""><a href="index.html">صفحه اصلی ۱</a></li>
                                                <li><a href="index-2.html">صفحه اصلی ۲</a></li>
                                            </ul>
                                        </li>
                                        <li><a href="about-us.html">درباره‌ی ما</a></li>
                                        <li class="menu-item-has-children"><a href="#">تورنومنت</a>
                                            <ul class="sub-menu">
                                                <li><a href="tournament.html">تورنومنت</a></li>
                                                <li><a href="tournament-details.html">تورنومنت تکی</a></li>
                                            </ul>
                                        </li>
                                        <li class="menu-item-has-children active"><a href="#">صفحات</a>
                                            <ul class="sub-menu">
                                                <li><a href="shop.html">فروشگاه گیمینگ</a></li>
                                                <li><a href="shop-details.html">جزییات فروشگاه</a></li>
                                                <li><a href="services.html">خدمات ما</a></li>
                                                <li class="active"><a href="services-details.html">خدمات تکی</a></li>
                                                <li><a href="team-details.html">پلیر</a></li>
                                            </ul>
                                        </li>
                                        <li class="menu-item-has-children"><a href="#">وبلاگ</a>
                                            <ul class="sub-menu">
                                                <li><a href="blog.html">وبلاگ</a></li>
                                                <li><a href="blog-details.html">مطلب وبلاگ</a></li>
                                            </ul>
                                        </li>
                                        <li><a href="contact.html">تماس</a></li>
                                    </ul>
                                </div>
                                <div class="tgmenu__action d-none d-md-block">
                                    <ul class="list-wrap">
                                        <li class="search"><a href="#"><i class="flaticon-search-1"></i></a></li>
                                        <li class="header-btn"><a href="contact.html" class="tg-border-btn"><i class="flaticon-edit"></i> ثبت نام</a></li>
                                        <li class="side-toggle-icon">
                                            <span></span>
                                            <span></span>
                                            <span></span>
                                        </li>
                                    </ul>
                                </div>
                            </nav>
                        </div>
                        <!-- Mobile Menu  -->
                        <div class="tgmobile__menu">
                            <nav class="tgmobile__menu-box">
                                <div class="close-btn"><i class="flaticon-swords-in-cross-arrangement"></i></div>
                                <div class="nav-logo">
                                    <a href="index.html"><img src="assets/img/logo/logo.png" alt="Logo"></a>
                                </div>
                                <div class="tgmobile__search">
                                    <form action="#">
                                        <input type="text" placeholder="جستجو کنید...">
                                        <button><i class="flaticon-loupe"></i></button>
                                    </form>
                                </div>
                                <div class="tgmobile__menu-outer">
                                    <!--Here Menu Will Come Automatically Via Javascript / Same Menu as in Header-->
                                </div>
                                <div class="social-links">
                                    <ul class="list-wrap">
                                        <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                                        <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                                        <li><a href="#"><i class="fab fa-instagram"></i></a></li>
                                        <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                                        <li><a href="#"><i class="fab fa-youtube"></i></a></li>
                                    </ul>
                                </div>
                            </nav>
                        </div>
                        <div class="tgmobile__menu-backdrop"></div>
                        <!-- End Mobile Menu -->
                    </div>
                </div>
            </div>
        </div>

        <!-- header-search -->
        <div class="search__popup-wrap">
            <div class="search__layer"></div>
            <div class="search__close">
                <span><i class="flaticon-swords-in-cross-arrangement"></i></span>
            </div>
            <div class="search__wrap text-center">
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <h2 class="title">... <span>جستجو کنید</span> ...</h2>
                            <div class="search__form">
                                <form action="#">
                                    <input type="text" name="search" placeholder="جستجوی کلید واژه" required>
                                    <button class="search-btn"><i class="flaticon-loupe"></i></button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- header-search-end -->

        <!-- offCanvas-area -->
        <div class="offCanvas__wrap">
            <div class="offCanvas__body">
                <div class="offCanvas__top">
                    <div class="offCanvas__logo logo">
                        <a href="index.html"><img src="assets/img/logo/logo.png" alt="Logo"></a>
                    </div>
                    <div class="offCanvas__toggle">
                        <i class="flaticon-swords-in-cross-arrangement"></i>
                    </div>
                </div>
                <div class="offCanvas__content">
                    <h2 class="title">حرفه‌ای ترین قالب در حوضه <span>گیمینگ</span></h2>
                    <div class="offCanvas__contact">
                        <h4 class="small-title">تماس با ما</h4>
                        <ul class="offCanvas__contact-list list-wrap">
                            <li><a href="tel:93332225557">۰۹۰۵۰۵۵۲۰۹۱</a></li>
                            <li><a href="mailto:info@webmail.com">info@webmail.com</a></li>
                            <li>تهران، پونک، اردیبهشت شمالی، استودیو MYKD</li>
                        </ul>
                    </div>
                    <div class="offCanvas__newsletter">
                        <h4 class="small-title">عضویت</h4>
                        <form action="#" class="offCanvas__newsletter-form">
                            <input type="email" placeholder="دریافت خبر ها و محصولات">
                            <button type="submit"><i class="flaticon-send"></i></button>
                        </form>
                        <p>برای دریافت جدید ترین اخبار، محصولات و آپدیت بازی ها عضو خبرنامه ما شوید</p>
                    </div>
                    <ul class="offCanvas__social list-wrap">
                        <li><a href="#"><i class="fab fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fab fa-facebook-f"></i></a></li>
                        <li><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
                        <li><a href="#"><i class="fab fa-youtube"></i></a></li>
                    </ul>
                </div>
                <div class="offCanvas__copyright">
                    <p>Copyright © تمامی حقوق محفوظ است <span>MYKD</span></p>
                </div>
            </div>
        </div>
        <div class="offCanvas__overlay"></div>
        <!-- offCanvas-area-end -->

    </header>
    <!-- header-area-end -->



<!-- main-area -->
<main class="main--area"><!-- breadcrumb-area -->
    <section class="breadcrumb-area" data-background="assets/img/bg/breadcrumb_bg01.jpg">
        <div class="container">
            <div class="breadcrumb__wrapper">
                <div class="row">
                    <div class="col-xl-6 col-lg-7">
                        <div class="breadcrumb__content">
                            <h2 class="title">سرویس </h2>
                            <nav aria-label="breadcrumb">
                                <ol class="breadcrumb">
                                    <li class="breadcrumb-item"><a href="index-2.html">خانه</a></li>
                                    <li aria-current="page" class="breadcrumb-item active">جزئیات خدمات</li>
                                </ol>
                            </nav>
                        </div>
                    </div>
                    <div class="col-xl-6 col-lg-5 position-relative d-none d-lg-block">
                        <div class="breadcrumb__img"><img alt="img" src="assets/img/others/breadcrumb_img02.png" />
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section><!-- breadcrumb-area-end --><!-- services-details-area -->
    <section class="services__details-area section-pt-120 section-pb-120"
        data-background="assets/img/bg/team_details_bg.jpg">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <div class="team__details-img"><img alt="img" src="assets/img/others/services_details.jpg" /><svg
                            fill="none" height="66" viewbox="0 0 145 66" width="145" xmlns="http://www.w3.org/2000/svg">
                            <g opacity="0.95">
                                <path d="M11.94 56.1H0V65.38H11.94V56.1Z" fill="currentcolor"></path>
                                <path d="M30.81 56.1H18.87V65.38H30.81V56.1Z" fill="currentcolor"></path>
                                <path d="M49.37 56.1H37.47V65.38H49.37V56.1Z" fill="currentcolor"></path>
                                <path d="M68.25 56.1H56.34V65.38H68.25V56.1Z" fill="currentcolor"></path>
                                <path d="M87.81 56.1H75.91V65.38H87.81V56.1Z" fill="currentcolor"></path>
                                <path clip-rule="evenodd" d="M95.12 56.1H107.03V65.3799H95.12V56.1Z" fill="currentcolor"
                                    fill-rule="evenodd"></path>
                                <path d="M125.94 56.1H114V65.38H125.94V56.1Z" fill="currentcolor"></path>
                                <path d="M144.5 56.1H132.56V65.38H144.5V56.1Z" fill="currentcolor"></path>
                                <path d="M11.94 37.1H0V46.38H11.94V37.1Z" fill="currentcolor"></path>
                                <path d="M30.81 37.1H18.87V46.38H30.81V37.1Z" fill="currentcolor"></path>
                                <path d="M49.37 37.1H37.47V46.38H49.37V37.1Z" fill="currentcolor"></path>
                                <path d="M68.25 37.1H56.34V46.38H68.25V37.1Z" fill="currentcolor"></path>
                                <path d="M87.81 37.1H75.91V46.38H87.81V37.1Z" fill="currentcolor"></path>
                                <path clip-rule="evenodd" d="M95.12 37.1H107.03V46.3799H95.12V37.1Z" fill="currentcolor"
                                    fill-rule="evenodd"></path>
                                <path d="M125.94 37.1H114V46.38H125.94V37.1Z" fill="currentcolor"></path>
                                <path d="M144.5 37.1H132.56V46.38H144.5V37.1Z" fill="currentcolor"></path>
                                <path d="M11.94 18.53H0V27.85H11.94V18.53Z" fill="currentcolor"></path>
                                <path d="M30.81 18.53H18.87V27.85H30.81V18.53Z" fill="currentcolor"></path>
                                <path d="M49.37 18.53H37.47V27.85H49.37V18.53Z" fill="currentcolor"></path>
                                <path d="M68.25 18.53H56.34V27.85H68.25V18.53Z" fill="currentcolor"></path>
                                <path d="M87.81 18.53H75.91V27.85H87.81V18.53Z" fill="currentcolor"></path>
                                <path clip-rule="evenodd" d="M95.12 18.53H107.03V27.85H95.12V18.53Z" fill="currentcolor"
                                    fill-rule="evenodd"></path>
                                <path d="M125.94 18.53H114V27.85H125.94V18.53Z" fill="currentcolor"></path>
                                <path d="M144.5 18.53H132.56V27.85H144.5V18.53Z" fill="currentcolor"></path>
                                <path d="M11.94 0H0V9.28H11.94V0Z" fill="currentcolor"></path>
                                <path d="M30.81 0H18.87V9.28H30.81V0Z" fill="currentcolor"></path>
                                <path d="M49.37 0H37.47V9.28H49.37V0Z" fill="currentcolor"></path>
                                <path d="M68.25 0H56.34V9.28H68.25V0Z" fill="currentcolor"></path>
                                <path d="M86.81 0H74.91V9.28H86.81V0Z" fill="currentcolor"></path>
                                <path clip-rule="evenodd" d="M94.12 6.10352e-05H106.03V9.27997H94.12V6.10352e-05Z"
                                    fill="currentcolor" fill-rule="evenodd"></path>
                            </g>
                        </svg></div>
                    <div class="team__details-content"><span class="sub-title">بهترین بازی NFT</span>
                        <h2 class="title">بازی های آنلاین بهترین MMO را برای شما پیدا می کنند.</h2>
                        <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با استفاده از طراحان گرافیک است، چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است، و برای شرایط فعلی تکنولوژی مورد نیاز، و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد، کتابهای زیادی در شصت و سه درصد گذشته حال و آینده، شناخت فراوان جامعه و متخصصان را می طلبد، تا با نرم افزارها شناخت بیشتری را برای طراحان رایانه ای علی الخصوص طراحان خلاقی، و فرهنگ پیشرو در زبان فارسی ایجاد کرد، در این صورت می توان امید داشت که تمام و دشواری موجود در ارائه راهکارها، و شرایط سخت تایپ به پایان رسد و زمان مورد نیاز شامل حروفچینی دستاوردهای اصلی، و جوابگوی سوالات پیوسته اهل دنیای موجود طراحی اساسا مورد استفاده قرار گیرد.</p>
                        <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ، و با استفاده از طراحان گرافیک است، چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است، و برای شرایط فعلی تکنولوژی مورد نیاز، و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد، کتابهای زیادی در شصت و سه درصد گذشته حال و آینده، شناخت فراوان جامعه و متخصصان را می طلبد، تا با نرم افزارها شناخت بیشتری را برای طراحان رایانه ای علی الخصوص طراحان خلاقی، و فرهنگ پیشرو در زبان فارسی ایجاد کرد، در این صورت می توان امید داشت که تمام و دشواری موجود در ارائه راهکارها، و شرایط سخت تایپ به پایان رسد و زمان مورد نیاز شامل حروفچینی دستاوردهای اصلی، و جوابگوی سوالات پیوسته اهل دنیای موجود طراحی اساسا مورد استفاده قرار گیرد.</p>
                        <blockquote class="team__details-quote">
                            <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز</p><cite>kiarash244</cite>
                        </blockquote>
                        <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد کتابهای زیادی در شصت و سه درصد گذشته حال و آینده شناخت فراوان جامعه و متخصصان را می طلبد</p>
                        <div class="team__details-inner-wrap">
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="team__details-inner-img"><img alt="img"
                                            src="assets/img/others/services_details01.jpg" /></div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="team__details-inner-img"><img alt="img"
                                            src="assets/img/others/services_details02.jpg" /></div>
                                </div>
                            </div>
                        </div>
                        <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد کتابهای زیادی در شصت و سه درصد گذشته حال و آینده شناخت فراوان جامعه و متخصصان را می طلبد</p>
                    </div>
                </div>
            </div>
        </div>
    </section><!-- services-details-area-end --><!-- faq-area -->
    <section class="faq-area">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-lg-6">
                    <div class="faq__content-wrap">
                        <div class="section__title text-start"><span class="sub-title tg__animate-text">پاسخ خود را
                                دریافت کنید</span>
                            <h3 class="title">سوالات متداول</h3>
                            <p>لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است</p>
                        </div>
                        <div class="faq__wrapper">
                            <div class="accordion" id="accordionExample">
                                <div class="accordion-item">
                                    <h2 class="accordion-header" id="headingOne"><button aria-controls="collapseOne"
                                            aria-expanded="true" class="accordion-button" data-bs-target="#collapseOne"
                                            data-bs-toggle="collapse" type="button"><span class="count">1</span>بهترین
                                            بازی </button></h2>
                                    <div aria-labelledby="headingOne" class="accordion-collapse collapse show"
                                        data-bs-parent="#accordionExample" id="collapseOne">
                                        <div class="accordion-body">از دهه 1500 متن ساختگی استاندارد صنعت بوده است ،
                                            هنگامی که یک چاپگر ناشناخته یک گالری گرفت</div>
                                    </div>
                                </div>
                                <div class="accordion-item">
                                    <h2 class="accordion-header" id="headingTwo"><button aria-controls="collapseTwo"
                                            aria-expanded="false" class="accordion-button collapsed"
                                            data-bs-target="#collapseTwo" data-bs-toggle="collapse" type="button"><span
                                                class="count">2</span>چطور میتوانم در مسابقات شرکت کنم؟</button></h2>
                                    <div aria-labelledby="headingTwo" class="accordion-collapse collapse"
                                        data-bs-parent="#accordionExample" id="collapseTwo">
                                        <div class="accordion-body">از دهه 1500 متن ساختگی استاندارد صنعت بوده است ،
                                            هنگامی که یک چاپگر ناشناخته یک گالری گرفت</div>
                                    </div>
                                </div>
                                <div class="accordion-item">
                                    <h2 class="accordion-header" id="headingThree"><button aria-controls="collapseThree"
                                            aria-expanded="false" class="accordion-button collapsed"
                                            data-bs-target="#collapseThree" data-bs-toggle="collapse"
                                            type="button"><span class="count">3</span>این بازی مصحول چه کشوری است؟</button></h2>
                                    <div aria-labelledby="headingThree" class="accordion-collapse collapse"
                                        data-bs-parent="#accordionExample" id="collapseThree">
                                        <div class="accordion-body">از دهه 1500 متن ساختگی استاندارد صنعت بوده است ،
                                            هنگامی که یک چاپگر ناشناخته یک گالری گرفت</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="services__images">
                        <div class="services__images-item active"><img alt="img"
                                src="assets/img/others/services_img01.jpg" /><a class="services__link"
                                href="services-details.html"><i class="flaticon-next"></i></a></div>
                        <div class="services__images-item"><img alt="img"
                                src="assets/img/others/services_img02.jpg" /><a class="services__link"
                                href="services-details.html"><i class="flaticon-next"></i></a></div>
                        <div class="services__images-item"><img alt="img"
                                src="assets/img/others/services_img03.jpg" /><a class="services__link"
                                href="services-details.html"><i class="flaticon-next"></i></a></div>
                        <div class="services__images-item"><img alt="img"
                                src="assets/img/others/services_img04.jpg" /><a class="services__link"
                                href="services-details.html"><i class="flaticon-next"></i></a></div>
                    </div>
                </div>
            </div>
        </div>
    </section><!-- faq-area-end -->
</main><!-- main-area-end -->

<!-- footer-start -->
<footer class="footer-style-one">
    <div class="footer__top-wrap">
        <div class="container">
            <div class="row">
                <div class="col-xl-4 col-lg-5 col-md-7">
                    <div class="footer-widget">
                        <div class="footer-logo logo"><a href="index-2.html"><img alt="Logo"
                                    src="assets/img/logo/logo.png" /></a></div>
                        <div class="footer-text">
                            <p class="desc">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است</p>
                            <p class="social-title">با ما <span>  به روز باشید  <i class="fas fa-angle-double-left"></i></span></p>
                            <div class="footer-social"><a href="#"><img alt="iocn"
                                        src="assets/img/icons/social_icon01.png" /></a><a href="#"><img alt="iocn"
                                        src="assets/img/icons/social_icon02.png" /></a><a href="#"><img alt="iocn"
                                        src="assets/img/icons/social_icon03.png" /></a><a href="#"><img alt="iocn"
                                        src="assets/img/icons/social_icon04.png" /></a></div>
                        </div>
                    </div>
                </div>
                <div class="col-xl-2 col-lg-3 col-md-5 col-sm-6">
                    <div class="footer-widget widget_nav_menu">
                        <h4 class="fw-title">دسترسی سریع</h4>
                        <ul class="list-wrap menu">
                            <li><a href="#">بازی</a></li>
                            <li><a href="#">محصولا</a></li>
                            <li><a href="#"> NFTS</a></li>
                            <li><a href="#">شبکه های اجتماعی</a></li>
                            <li><a href="#">تماس</a></li>
                            <li><a href="#">درباره</a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-xl-2 col-lg-3 col-md-5 col-sm-6">
                    <div class="footer-widget widget_nav_menu">
                        <h4 class="fw-title">لینک های مفید</h4>
                        <ul class="list-wrap menu">
                            <li><a href="#">  حریم خصوصی</a></li>
                            <li><a href="#"> پشتیبانی</a></li>
                            <li><a href="#">برنامه های لایو</a></li>
                            <li><a href="#">جزئیات </a></li>
                            <li><a href="#">24/7 پشتیبانی </a></li>
                            <li><a href="#">اخبار </a></li>
                        </ul>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-5 col-md-7">
                    <div class="footer-widget">
                        <h4 class="fw-title">خبرنامه</h4>
                        <div class="footer-newsletter">
                            <p>برای دریافت آخرین اخبار و تخفیف ها، خبرنامه ما را دنبال کنید</p>
                            <form action="#" class="footer-newsletter-form"><input placeholder="ایمیلتان را وارد کنید"
                                    type="email" /><button type="submit"><i class="flaticon-paper-plane"></i></button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="copyright__wrap">
        <div class="container">
            <div class="row align-items-center">
                <div class="col-md-7">
                    <div class="copyright__text">
                        <p>کپی رایت © ۲۰۲۴ - کلیه حقوق محفوظ است<span> MYKD </span></p>
                    </div>
                </div>
 
            </div>
        </div>
    </div>
</footer><!-- footer-start-end -->



    <!-- JS here -->
    <script src="assets/js/vendor/jquery-3.6.0.min.js"></script>
    <script src="assets/js/plugins.js"></script>
    <script src="assets/js/ajax-form.js"></script>
    <script src="assets/js/main.js"></script>
</body>


</html>