
        <!-- main -->
        <main class="profile-user-page default space-top-30">
            <div class="container">
                <div class="row">
                    <div class="profile-page col-xl-9 col-lg-8 col-md-12 order-2">
                        <div class="row">
                            <div class="col-lg-12">
                                <header class="card-header">
                                    <h3 class="card-title"><span>اطلاعات حساب کاربری</span></h3>
                                </header>
                                <div class="content-section default">
                                    <div class="row">
                                        <div class="col-sm-12 col-md-6">
                                            <p>
                                                <span class="title">نام  :</span>
                                                <span>حسین 
</span>
                                            </p>
                                        </div>
                                        <div class="col-sm-12 col-md-6">
                                            <p>
                                                <span class="title"> نام خانوادگی :</span>
                                                <span>
                                                     رضایی
                                                </span>
                                            </p>
                                        </div>
                                        <div class="col-sm-12 col-md-6">
                                            <p>
                                                <span class="title">پست الکترونیک :</span>
                                                <span>info@Masai.ir</span>
                                            </p>
                                        </div>
                                        <div class="col-sm-12 col-md-6">
                                            <p>
                                                <span class="title">شماره تلفن همراه:</span>
                                                <span>09111234567</span>
                                            </p>
                                        </div>
                                        <div class="col-sm-12 col-md-6">
                                            <p>
                                                <span class="title">کد پستی :</span>
                                                <span>(نامشخص)</span>
                                            </p>
                                        </div>
                                        <div class="col-sm-12 col-md-6">
                                            <p>
                                                <span class="title">روش بازگرداندن پول من :</span>
                                                <span>ﺷﻤﺎره ﺷﺒﺎ</span>
                                            </p>
                                        </div>
                                        <div class="col-sm-12 col-md-6">
                                            <p>
                                                <span class="title">شغل :</span>
                                                <span>توسعه نرم افزار و برنامه نویسی</span>
                                            </p>
                                        </div>
                                        <div class="col-sm-12 col-md-6">
                                            <p>
                                                <span class="title">تاریخ تولد :</span>
                                                <span>۱۳۷۰/۶/۱۴</span>
                                            </p>
                                        </div>
                                        <div class="col-sm-12 col-md-6">
                                            <p>
                                                <span class="title">کد ملی :</span>
                                                <span>297865432</span>
                                            </p>
                                        </div>
                                        <div class="col-12 text-center">
                                            <a href="edit-profile.html" class="btn btn-main-masai big_btn">
                                                ویرایش
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-12">
                                <header class="card-header">
                                    <h3 class="card-title"><span>اطلاعات حقوقی</span></h3>
                                </header>
                                <div class="content-section default">
                                    <div class="row">
                                      <div class="col-lg-12">
                                          <p>این گزینه برای کسانی است که نیاز به خرید سازمانی (با فاکتور رسمی و گواهی ارزش‌افزوده) دارند.</p>
                                      </div>
                                        <div class="col-12 text-center">
                                            <a href="edit-profile.html" class="btn btn-main-masai big_btn">
                                                ویرایش اطلاعات حقوقی
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                      
                    </div>
                    {% comment %}  {% endcomment %}
                </div>
            </div>
        </main>
        <!-- main -->
